<section class='methods'>
    <h3>Methods</h3>
    {{#each copy.methods}}
    <p class='prose'>{{{value}}}</p>
    {{/each}}

    <div class='example-wrapper'>
        {{#each copy.methodsList}}
        <div class='example'>
            <img src='assets/images/{{image}}'>
            <p class='credit'>{{credit}}</p>
            <p class='explainer'>{{text}}</p>
        </div>
        {{/each}}
    </div>    

    {{#each copy.methods2}}
    <p class='prose'>{{{value}}}</p>
    {{/each}}
</section>