<section class='post-intro'>
    {{#each copy.post-intro}}
    <p class='prose'>{{{value}}}</p>
    {{/each}}
    <h5 class='prose year-chart-title'>Percentage of candidates using color schemes</h5>
    <div class='year-chart-labels'>
        <p>Non-RWB colors</p>
        <p>RWB colors</p>
    </div>
    <div id='year-chart'></div>
    {{#each copy.post-intro2}}
    <p class='prose'>{{{value}}}</p>
    {{/each}}
    <div class='miniGrid'>
        <h5 id='allMin-sen'>All minority candidates</h5>
        <div class='chartGrid' id='allMin'></div>
        {{#each copy.minCands}}
        <p class='prose'>{{{value}}}</p>
        {{/each}}
    </div>
    <div class='miniGrid'>
        <h5 id='race-sen'>Non-white candidates</h5>
        <div class='chartGrid' id='race'></div>
        {{#each copy.whiteCands}}
        <p class='prose'>{{{value}}}</p>
        {{/each}}
    </div>
    <div class='miniGrid'>
        <h5 id='gender-sen'>Non-male candidates</h5>
        <div class='chartGrid' id='gender'></div>
        {{#each copy.maleCands}}
        <p class='prose'>{{{value}}}</p>
        {{/each}}
    </div>
    <div class='miniGrid'>
        <h5 id='minWomen-sen'>Non-white &amp; non-male candidates</h5>
        <div class='chartGrid' id='minWomen'></div>
        {{#each copy.minWomenCands}}
        <p class='prose'>{{{value}}}</p>
        {{/each}}
    </div>
</section>